body {
    margin: 0;
    height: 100vh;
    background-color: #111827;
    background-image: url("assets/background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: Arial, sans-serif;
}

.logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 20px;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

p {
    font-size: 22px;
    opacity: 0.8;
    margin-bottom: 40px;
}

.button {
    width: 320px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: #f3ead7;
    background: rgba(25, 15, 32, 0.88);
    border: 2px solid #c8ab63;
    border-radius: 15px;
    font-size: 20px;
    transition: 0.3s;
}

.button:hover {
    transform: scale(1.05);
    background: rgba(55, 25, 65, 0.95);
    border-color: #e2c878;
}
.discord-button {
    display: block;
    transition: transform 0.3s;
    transform: translateY(-40px);
}

.discord-button img {
    width: 135px;
    height: 135px;
    object-fit: contain;
    display: block;
}

.discord-button:hover {
    transform: translateY(-40px) scale(1.05);
}
